config.stopBubbling = true

# to exclude lombok-generated classes from being included in coverage analysis
# see https://github.com/rzwitserloot/lombok/issues/1014#issuecomment-278781779 and https://github.com/jacoco/jacoco/pull/513
lombok.addLombokGeneratedAnnotation = true

# for jackson to map POJOs to JSON and vice versa, https://github.com/rzwitserloot/lombok/issues/1563
lombok.anyConstructor.addConstructorProperties = true